body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .formnhap {
        border: 2px solid gray;
        border-radius: 10px;
        margin: 50px;
        padding: 20px;

        box-shadow: 0px 0px 30px gray;
    }

    form>h1 {
        text-align: center;
        color: burlywood;
        margin-bottom: 10px;
    }

    input,
    select {
        width: 100%;
        padding: 15px;
        margin: 10px 0px 10px 0px;
        border: 2px solid black;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: rgb(236, 230, 236);

    }

    .hang {
        display: flex;
        gap: 5px;
    }

    .cot {
        flex: 50%;
        min-width: 300px;
    }

    .buttonThem {
        width: auto;
        height: 40px;
        padding: 10px;
        border: 2px solid black;
        background-color: #27ae60;
        border-radius: 5px;
        color: white;
    }
    .buttonThem:hover{
        background-color: #198546;
    }

    .buttonTimKiem{
        width: auto;
        height: 40px;
        padding: 10px;
        border: 2px solid gray;
        background-color: #3498db;
        color: white;
        border-radius: 5px;
    }
    .buttonTimKiem:hover{
        background-color: #1b70a8;
    }
    .buttonKhac{
        width: auto;
        height: 40px;
        padding: 10px;
        border: 2px solid gray;
        background-color: rgb(99, 151, 21);
        color: white;

        border-radius: 5px;
    }
    .buttonKhac:hover{
        background-color: #247bb6;
    }

    table{
        height: auto;
        width: 100%;
        border-collapse: collapse; 
    }
    thead{
        color: white;
        background-color: #34495e;
    }
    tbody{
        border: 1px solid black;
    }
    th,td{

        padding: 15px 20px;
        white-space: nowrap;
    }
    .highlight{
        color: rgb(4, 90, 4);
        font-weight: bold;
        font-style:italic ;
        background-color: bisque;
    }
    
    .thanhkeotable{
        overflow-x: auto;
        max-width: 100%;
        border-radius: 12px;
        border: 1px solid gray;
    }

    .buttonSua{
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: orange;
        margin: 0px 10px 0px 10px;
    }
    .buttonSua:hover{
        background-color: rgb(217, 145, 12);
    }

    .buttonXoa{
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: red;
        color: yellow;

        margin: 0px 10px 0px 10px;
    }
    .buttonXoa:hover{
        background-color: rgb(217, 14, 14);
    }