body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .formnhap {
        border: 2px solid gray;
        border-radius: 10px;
        margin: 50px;
        padding: 20px;

        box-shadow: 0px 0px 30px gray;
    }

    form>h1 {
        text-align: center;
        color: burlywood;
        margin-bottom: 10px;
    }

    input,
    select {
        width: 100%;
        padding: 15px;
        margin: 10px 0px 10px 0px;
        border: 2px solid black;
        box-sizing: border-box;
        border-radius: 5px;


    }

    .hang {
        display: flex;
        gap: 5px;
    }

    .cot {
        flex: 50%;
        min-width: 300px;
    }

    .buttonThem {
        width: auto;
        height: 40px;
        padding: 10px;
        border: 2px solid black;
        background-color: greenyellow;

        border-radius: 5px;
    }

    table{
        height: auto;
        width: 100%;
        border-collapse: collapse; 
    }
    thead{
        color: white;
        background-color: black;
    }
    tbody{
        border: 1px solid black;
    }
    th,td{

        padding: 15px 20px;
        white-space: nowrap;
    }
    .thanhkeotable{
        overflow-x: auto;
        max-width: 100%;
        border-radius: 12px;
        border: 1px solid gray;
    }

    .buttonSua{
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: orange;
    }

    .buttonXoa{
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: red;
        color: yellow;

    }